{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
      
        <h1 class="mb-4">Crear Perfil de Usuario</h1>
        <form action="{{ url_for('perfil.add') }}" method="post">
            
            <div class="mb-3">
                <label for="bio" class="form-label">Biografía:</label>
                <textarea id="bio" name="bio" class="form-control" rows="3" placeholder="Escribe algo sobre el usuario..." required></textarea>
            </div>

            <button type="submit" class="btn btn-primary rounded-pill">Guardar Perfil</button>
            <a href="{{ url_for('perfil.index') }}" class="btn btn-secondary rounded-pill">Cancelar</a>
        </form>
      
    </div>
{% endblock %}



