<!DOCTYPE html>
<html lang="es" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Aplicación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css')}}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='all.min.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons.min.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css">
</head>

<body class="d-flex flex-column h-100 bg-light">
  
  {% include 'menu.html' %}

  <main class="flex-shrink-0">

    <div class="container mt-4 mx-auto">

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}             
          {% for category, message in messages %}
            <div class="flash-message alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="card shadow-sm border border-2 border-primary">
            <div class="card-header bg-primary text-white">
              <h4 class="mb-0 text-center">{% block titulo_pagina %}{% endblock %}</h4>
            </div>
            <div class="card-body">
              <div class="container-fluid p-3">

                {% block content %}
                {% endblock %}
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-center">
      <span class="text-white">&copy; 2024 Mi Aplicación. Esta obra está bajo una <a href="http://creativecommons.org/licenses/by/4.0/" class="text-white">Licencia Creative Commons Atribución 4.0 Internacional</a>.</span>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.js') }}"></script>

</body>
</html>