    <!-- Menú de Navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="/">Biblioteca</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" 
                  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                  <!-- Usuarios -->
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarUsuarios" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Usuarios
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarUsuarios">
                          <li><a class="dropdown-item" href="{{ url_for('user.index') }}">Listado</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('user.add') }}">Agregar</a></li>
                      </ul>
                  </li>
                  <!-- Perfiles -->
                      <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarPerfiles" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Perfiles
                            </a>
                             <ul class="dropdown-menu" aria-labelledby="navbarPerfiles">
                             <li><a class="dropdown-item" href="{{ url_for('perfil.index') }}">Listado</a></li>
                             <li><a class="dropdown-item" href="{{ url_for('perfil.add') }}">Agregar</a></li>
                       </ul>
                  </li>
                     <!-- publicaciones -->
                      <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarPublicaciones" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            publicaciones
                            </a>
                             <ul class="dropdown-menu" aria-labelledby="navbarPublicaciones">
                             <li><a class="dropdown-item" href="{{ url_for('publicacion.index') }}">Listado</a></li>
                             <li><a class="dropdown-item" href="{{ url_for('publicacion.add') }}">Agregar</a></li>
                       </ul>
                  </li>
                     <!-- Etiquetas -->
                      <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarEtiqueta" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Etiquetas
                            </a>
                             <ul class="dropdown-menu" aria-labelledby="navbarEtiquetas">
                             <li><a class="dropdown-item" href="{{ url_for('etiqueta.index') }}">Listado</a></li>
                             <li><a class="dropdown-item" href="{{ url_for('etiqueta.add') }}">Agregar</a></li>
                       </ul>
                  </li>
              </ul>
          </div>
      </div>
    </nav>